<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/vue-cool-lightbox.min.css">
	<link rel="stylesheet" href="css/style.css">
	<title>SimpleArt</title>
</head>
<body>
	<div id="app">
		<header>
				<a href="#" id="top"></a>
			<div class="container">
				<div class="row">
					<div class="col">
						<nav class="navbar navbar-expand-xl navbar-dark">
							<a class="navbar-brand" href="#"><img src="PhotSaitaSimpleArt/logoBig.png" alt=""></a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
								<div class="navbar-nav" id="menu">				
									<a class="nav-item nav-link" v-scroll-to="'#main__about_scroll'">о нас</a>
									<a class="nav-item nav-link" v-scroll-to="'#accomm_scroll'">услуги</a>
									<a class="nav-item nav-link" v-scroll-to="'#services_scroll'">сфера</a>
									<a class="nav-item nav-link" v-scroll-to="'#clients_scroll'">наши поставщики</a>
									<a class="nav-item nav-link" v-scroll-to="'#gallery_scroll'">портфолио</a>
									<a class="nav-item nav-link" v-scroll-to="'#reviews_scroll'">отзывы</a>
									<a class="nav-item nav-link" v-scroll-to="'#forma_scrol'">контакты</a>
									<div class="languages" @click="languagesMenu = !languagesMenu">
										<a class="nav-item nav-link">
											{{lang.toUpperCase()}}
											<span>
												<svg class="arrow-lang">
													<use xlink:href="/img/myicons.svg#down-arrow"></use>
												</svg>
											</span>
										</a>
										
										<ul class="drop-down" v-show="languagesMenu" @mouseleave="languagesMenu = false">
											<li @click="changeLang('ru')">RU</li>
											<li @click="changeLang('ro')">RO</li>
											<li @click="changeLang('en')">ENG</li>
										</ul>
									</div>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
	
		<main>
			<section class="main__welcome">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="header__desc">
								<span>ДОБРО ПОЖАЛОВАТЬ В </span>	
								<img src="PhotSaitaSimpleArt/logoBig.png" alt="">
								<br>
								<span>ВСЕ ДЛЯ ВАШЕГО <span>КОМФОРТА!</span></span>
							</div>
						</div>
					</div>
				</div>
				
			</section>
			<section class="main__about">
				<a href="#" id="main__about_scroll"></a>
				<div class="container">
					<div class="row">
						<div class="col-xl-6">
							<div class="mac-boock">
			
							</div>
						</div>
						<div class="col-xl-6">
							<h1>Несколько слов <span>о нас</span></h1>
							<p>Наша компания стремится создавать уникальную, гармоничную и комфортную среду для жизни людей! При
								создании проектов мы большое внимание уделяем деталям, качественно прорабатываем все нюансы и
								составляющие проекта.</p>
								<div class="list-about">
									<ul>
										<li><span>Mission</span> - мы предоставляем уникальность и качество</li>
										<li><span>Skills</span> - достижение быстрых и отличных результатов</li>
										<li><span>Clients</span> - довольные клиенты благодаря нашему опыту</li>
									</ul>
								</div>						
						</div>
					</div>
				</div>
			</section>
			<section class="accomm">
				<a href="#" id="accomm_scroll"></a>
				<div class="container">
					<div class="row">
						<div class="col">
							<h2>КАТЕГОРИИ НАШИХ УСЛУГ</h2>
							<hr class="line">
						</div>
					</div>
					<div class="row">
						<div class="col-xl-3 col-sm-6" v-for="(item, ind) in responce.data" :key="item.id" @click="showCategoryImages(ind)">
							<img style="cursor: pointer;" :src="item.preview" alt="" class="photo__card">
							<h4 style="max-width: 225px">{{ item[`title_${lang}`] }}</h4>
							<p class="descriptions">
							{{ item[`desc_${lang}`] }}
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="services">
				<a href="#" id="services_scroll"></a>
				<div class="container">
					<div class="row">
						<div class="col">
							<h3>СФЕРА УСЛУГ</h3>
							<hr class="line">
							<p class="descriptions" style="font-style: italic;">
								Каждый проект рассчитывается индивидуально при встрече, и зависит от площади, сложности решений и от количества
								заказанных позиций.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-3 col-sm-6">
							<img src="PhotSaitaSimpleArt/lineikaSkarandash1.png" alt="" class="photo__card">
							<h5>ЗАМЕРЫ, ПРОЕКТ, ДИЗАЙН</h5>
							<p class="descriptions">
								Мы создаем дизайн под Вас, под ваши привычки и особенности, под Ваши нужды и желания
							</p>	
						</div>
						<div class="col-xl-3 col-sm-6">
							<img src="PhotSaitaSimpleArt/mashina-11.png" alt="" class="photo__card">	
							<h5>ДОСТАВКА</h5>	
							<p class="descriptions">
								Доставим в любую точку города
							</p>
						</div>
						<div class="col-xl-3 col-sm-6">
							<img src="PhotSaitaSimpleArt/molotok13.png" alt="" class="photo__card">	
							<h5>СБОРКА И МОНТАЖ</h5>	
							<p class="descriptions">
								Включены в стоймость проекта
							</p>
						</div>
						<div class="col-xl-3 col-sm-6">
							<img src="PhotSaitaSimpleArt/kachestvo-14.png" alt="" class="photo__card">	
							<h5>ГАРАНТИЯ</h5>	
							<p class="descriptions">
								Выполняем работы качественно и в срок! Проекты соответсвуют всем требованиям и нормам
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="clients">
				<a href="#" id="clients_scroll"></a>
				<h3>НАШИ ПОСТАВЩИКИ</h3>
				<hr class="line">
	
				<div class="container">
					<div class="row">
						<div class="col-xl-4 col-sm-6"><img src="PhotSaitaSimpleArt/logo_hettich.png" alt="hettich"></div>
						<div class="col-xl-4 col-sm-6"><img src="PhotSaitaSimpleArt/logo_blum.png" alt="blum"></div>
						<div class="col-xl-4 col-sm-6"><img src="PhotSaitaSimpleArt/logo_kronospan.png" alt="kronospan"></div>
						<div class="col-xl-4 col-sm-6"><img src="PhotSaitaSimpleArt/egger.png" alt="egger"></div>
						<div class="col-xl-4 col-sm-6"><img src="PhotSaitaSimpleArt/Kessebhmer-logo.png" alt="kessebohmer"></div>
						<div class="col-xl-4 col-sm-6"><img src="PhotSaitaSimpleArt/logo_swiss_biale7.png" alt="swiss krono"></div>
					</div>
				</div>	
			</section>
			<section class="gallery">
				<a href="#" id="gallery_scroll"></a>
				<div class="container">
					<h3>ПОРТФОЛИО</h3>
					<hr class="line">
					<p class="descriptions">
						Здесь можно посмотреть реализованные проекты , а так же проекты находящиеся на стадии реализации. Каждый проект
						уникален и отражает характер наших заказчиков.
					</p>
					<div class="row">
						<div class="col-xl-3 col-md-4 col-sm-6 imgPortfolio" v-for="item in portfolio">
							<img :src="item.image" alt="">
						</div>
				</div>		
			</section>
			<section class="reviews">
				<a href="#" id="reviews_scroll"></a>
				<div class="container">
					<div class="row">
						<div class="col">
							<h3>ОТЗЫВЫ НАШИХ КЛИЕНТОВ</h3>
							<hr class="line">
							<p class="reviews__desc">
								SIMPLE ART, РЕБЯТА, ВСЕ 10 ЗВЁЗДОЧЕК ВАШИ. ОЧЕНЬ ПОРАДОВАЛ ПОДХОД, КРЕАТИВНОСТЬ И КОМПЕТЕНТНОСТЬ. СПАСИБО БОЛЬШОЕ
								ВАШЕЙ КОМАНДЕ ЗА ГРАМОТНЫЙ ПОДХОД И ОПЕРАТИВНОЕ ИСПОЛНЕНИЕ ЗАКАЗА. ОБЯЗАТЕЛЬНО ВОСПОЛЬЗУЮСЬ ВАШИМИ УСЛУГАМИ ЕЩЁ.
							</p>
							<span>Нелли Мельниченко</span>
						</div>
					</div>
				</div>
			</section>
			<section class="forma">
				<a href="#" id="forma_scrol" name="forma"></a>
				<div class="container">
					<div class="row">
						<div class="col">
							<h6>КОНТАКТЫ</h6>
							<hr class="line">
							<p class="contact__desc">
								Мы много времени проводим на объектах, поэтому о встрече лучше договориться заранее. Работаем по
								графику: пн.-пт. с
								9:00 до 19:00 тел.: +373 69 305 558 Екатерина E-mail: simple.art.srl@gmail.com
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<form class="footer__form" @submit.prevent="sendMessage">
								<div class="row_form">
									<input type="text" placeholder="Name" required v-model="messageData.name">
									<input type="email" placeholder="Email address" required v-model="messageData.email">	
								</div>
								<textarea name="message" id="message" placeholder="Message" v-model="messageData.message"></textarea>
								<button class="btn__submit" type="submit" :disabled="btnSend">SEND</button>						
							</form>
						</div>
						
					</div>
				</div>
			</section>
		</main>
		<footer>
			<ul class="sotial_links">
				<li class="li"><a href="#"><img src="img/twitter.png"  alt=""></a></li>
				<li class="li"><a href="#"><img src="img/linkedin.png" alt=""></a></li>
				<li class="li"><a href="#"><img src="img/dribbble.png" alt=""></a></li>
				<li class="li"><a href="#"><img src="img/facebook.png" alt=""></a></li>
				<li class="li"><a href="#"><img src="img/google.png" alt=""></a></li>
			</ul>
		</footer>
		<div class="btn__top">
			<a class="nav-item nav-link" v-scroll-to="'#top'">
				<img src="PhotSaitaSimpleArt/top2.png" alt="">
			</a>
		</div>
		<div class="portfolio__slaider">
		<button class="modal-close"></button>
			<div class="owl-carousel owl-theme">
				<!-- all photo in folder-->
				<div class="item" v-for="item in portfolio">
					<img :src="item.image" alt="">
				</div>
				{{JQimages = true}}
			</div>
		</div>
		<cool-light-box
			:items="items" 
      :index="index"
      @close="index = null"
		>	
		</cool-light-box>

	</div>

	<script src="js/popper.min.js"></script>
	<script src="js/jquery-3.4.1.slim.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/index.js"></script>
</body>
</html>