* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
	font-style: italic; 
}

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	width: 100%;
	background: #000;
	display: flex;
}
h1{
	text-transform: uppercase;
}

/*	--------------------------------------------------*/
	

.bold{
	color: #c3c3c3;
}
h1 .bold{
	color: #000;
	font-weight: 200;
}
.import_world{
	font-weight: 700;
	font-style: normal;
}
/*========================================================*/

.header__logo {
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
	margin-top: 22px;
	margin-left: 10%;
}

nav {
	margin-top: 56px;
	margin-left: 30%;
}
.topnav a {
	font-family: 'Myriad Pro', sans-serif; 
	color: #fff; 
	text-align: center;
	padding: 12px 16px;
	font-size: 18px;
	font-weight: bold;
}
.topnav a:hover {
	border-bottom: 3px solid #fcac45;
}
.topnav .icon { 
	display:none;
}

/*----------------------ДОБРО ПОЖАЛОВАТЬ В-------------------*/
main{
	display:flex;
	flex-direction: column;
	width: 100%;
}
main .main__welcome{
	 font-family: 'MagicC', sans-serif;
  	font-weight: bold;
  	text-transform: uppercase;


	background:  #000;
	text-align: center;
	padding: 200px 0 410px 0;	
}
main .main__welcome p{
	padding-top: 20px;
	color: #999999;
	font-size: 30px;
}
main .main__welcome h1{
	color: #999999;
	font-size: 44px;
}
/*-------option---------*/
main .main__welcome h1:after{
	display: none;
}

.welcome{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	
	
}
.dobro {
	margin: 0 15px;
	}

.mycompany{
	color: #fcac45;
}
.wrapper{
	width: 76%;
	margin: 0 auto;
}
main .main__about{
	display: flex;
	padding: 100px 0 100px 0; 
}

/*
.about__left{
	position: relative;
}
.company img{left: -150px; top: 25px;
	
}
.img1{left: 50px; top: 25px;}
.img2{}
.img3{}
.img4{}
.img5{}
.img6{}
.img7{}
.img8{}
.img9{}
*/

.about__right{
	margin-left: 175px;
}
.about__right h1{
	display:inline-block;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
	text-transform: uppercase;
/*	align-items: center;*/
	
}
.about__right h1:after{
	display: none;
/*	text-align: center;*/
}
.about{
/*	margin-left: 60px;*/
}
.about__right p{
	margin:30px 0 50px 0;
	color: #6c6c6c;
	text-align:left;
	
}
.about__right li{
	background: url(PhotSaitaSimpleArt/%EF%86%92.png) 0px no-repeat;
	padding-left: 25px;
	margin-top: 10px;
}
.mv-100{
	min-width: 10%;
}

/*!-----------------КАТЕГОРИЯ УСЛУГ------------------------------------------->*/


.main__accomm{
	background: #000;
	text-align: center;
	padding: 100px 0 165px 0;
	color: #fff;
}
.main__accomm h1{
	font-size: 44px;
	padding-bottom: 30px;
}

.photo{
/*	background: #d7d7d7;*/
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 20px auto;
}
.accomm__card{
	display: flex;
}
.card{
	margin: 0 40px;
}
.name{
	font-size: 20px;
	margin-bottom: 7px;
}
.position{
	font-size: 16px;
	margin-bottom: 35px;
}
.about__position{
	font-size: 14px;
}

/*<!------------------------УСЛУГИ------------------------------------------>*/

.services__cards{
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 20px;
}
.services__card h4{
	text-transform: uppercase;
}
.main__services h1{
	text-align: center;
	padding: 100px 0 30px 0;
}
.main__services p{
	color: #6c6c6c;
	margin-bottom: 100px;
	}
.services__card h4{
	margin-top: 20px;
	margin-bottom: 15px;
}

/*---------------------НАШИ ПОСТАВЩИКИ-----------------------------------------*/

.main__clients{
	background: #000;
	padding: 100px 0 205px 0;
	color: #fff;
	text-align: center;
}
.main__clients h1{
	margin-top: 10px;
	margin-bottom: 30px;
}
.main__clients img{
	margin-left: 40px;
	margin-bottom: 10px;
/*	vertical-align: center;*/
}

/*---------------------Портфолио-----------------------------------*/

.main__work{
	text-align: center;
	padding: 100px 0 100px 0;
}
.main__work h1{
	margin-bottom: 30px;
}
.main__work p{
	margin-bottom: 100px;
	color: #6c6c6c;
}
.gallary{
	display: flex;
	flex-direction: row;
}
.main__work img:hover{
	opacity: 0.7;
}
/*---------------testiminials---------------------*/


.main__testiminials{
	background: #000;
	text-align: center;
	color: #fff;
	padding-bottom: 170px;
}
.main__testiminials .testimonial{
	text-transform: uppercase;
	margin-bottom: 50px;
}
.main__testiminials h1{
	margin-top: 100px;
	margin-bottom: 30px;
	text-transform: uppercase;
}



/*-----------------------------contact us-------------------------------*/


.contact__form{
	padding: 100px 0 100px 0;
}
.contact__form h1, p{
	text-align: center;
	padding-top: 20px;
	
}
.contact__wrapper{
	width: 753px;
	margin: 0 auto;
	color: #636363;
}
.red{
	color: red;
}

.contact__from h1{
	color: #000;
	margin-bottom: 30px;
}
form p{
	text-align: left;
}
.form__input{
	margin-top: 100px;
	display: flex;
}
	
input{
	width: 360px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 30px;
}
input:first-of-type{
	margin-right: 28px;
}


textarea{
	width: 100%;
	height: 163px;
}
input, textarea{
	border: 1px solid #999999;
	margin-top: 5px;
}
.button__block{
	display: flex;
	justify-content: flex-end;
}
input[type=submit]{
	width: 165px;
	height: 40px;
	background: #fcac45;
	color: white;
	margin-right: 0;
	margin-top: 30px;
	
}
h1:after{
	content: "";
	display: block;
	margin: auto;
	width: 100px;
	padding-top: 20px;
	
	border-bottom: 3px solid #fcac45;
}
/*--------------------------------------------------*/

footer{
	width: 100%;
	height: auto;
	background: #222222;
	padding: 30px 0 30px 0;
}
.social{
	display: flex;
	justify-content: center
}
.social img{
	margin-left: 12px;
}
.social img:hover{
	opacity: 0.6;
}

/* ==============================okno================ */

  #zatemnenie {
        background: rgba(102, 102, 102, 0.5);
        width: 100%;
        height: 100%;
		position: absolute;

        top: 0;
        left: 0;
        display: none;
      }
#okno {
        width: 900px;
        height: 600px;
        text-align: center;
        padding: 15px;
        border: 3px solid #0000cc;
        border-radius: 10px;
        color: #0000cc;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: #fff;
      }
      #zatemnenie:target {display: block;}

      .close {
        display: inline-block;
        border: 1px solid #0000cc;
        color: #0000cc;
        height: 30px;
	   	width: 150px;
        text-decoration: none;
		border-radius: 10px;
        background: #f2f2f2;
        font-size: 14pt;
        cursor: pointer;
}
        .close:hover {
			background: #7c7c89;
			
	}

.butt{
	display: inline-block;
        border: 1px solid #0000cc;
        color: #0000cc;
        height: 30px;
	   	width: 150px;
        text-decoration:inherit;
		border-radius: 10px;
        background: #f2f2f2;
        font-size: 14pt;
        cursor: pointer;
}




@media screen and (max-width: 1200px) {
	nav {
		margin-left: 20%;
	}
}

@media screen and (max-width: 1105px) {
	nav {
		margin-left: 10%;
	}
}

@media screen and (max-width: 1010px) { 
	.topnav a {
		display: none;
	}
	.topnav a.icon {
		float: right;
		margin-top: -17px;
		display: block;
		color: #fff;
		font-size: 25px;
		
	}
	nav {
		width: 100%;		
	}
	.topnav.responsive {
		position: relative;
		top: 50px;
		left: -200px;
	}
	header .topnav.responsive {
		height: 340px;
		/* border: 2px solid white;   */
	}
	.topnav.responsive a.icon {
		position: absolute;
		top: -50px;
		right: -200px;
		
	}
	.topnav.responsive a{
		float:none;
		display: block;
		text-align:  left;
	}
	main .main__welcom{
		padding: 50px 0 50px 0;
	} 
main .main__welcom p{
		font-size: 14px;
	} 
main .main__welcom h1{
		font-size: 25px;
	}
	.mv-100{
		max-width: 100%;
	}
.main__about{
	flex-direction: column;
}
.about__right{
	text-align: center;
	margin-left: 0;
}
.about__right li{
	text-align: left;
}
.about__right h1{
	margin-top: 10px;
	font-size: 20px;
}	
	.accomm__card{
	flex-direction: column;
}
	.services__cards{
		grid-template-columns: auto;
	}
	.line1 img:not(:first-child){
		display: none;
	}
	.line2 img:not(:first-child){
		display: none;
	}
	.line3 img:not(:first-child){
		display: none;
	}
}
